@import "react-perfect-scrollbar/dist/css/styles.css";
@import "_components.css";

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-[#F6F7FB];
  }
  #root {
    min-height: 100vh;
  }
}

@layer components {
  .logo {
    @apply bg-logo w-[90px] h-[52px] block bg-cover bg-no-repeat bg-center text-indent-n
    md:w-[86px] md:h-[50px] lg:w-[99px] lg:h-[57px];
  }

  .nav-link {
    @apply flex justify-center items-center text-sm hover:-translate-y-1;
  }

  .nav-icon {
    @apply w-[34px] h-[34px] mr-2 rounded-full flex justify-center items-center;
  }

  .shadow-corner-l {
    @apply bg-gray-600 h-20 w-1/3 lg:w-1/2  absolute transform-rorate-n6 md:transform-rorate-n4 shadow-corner
    z-n1 left-2 bottom-8 md:bottom-6 lg:bottom-8;
  }

  .shadow-corner-r {
    @apply bg-gray-600 h-10 w-1/3 lg:w-1/2 absolute transform-rorate-6 md:transform-rorate-4 shadow-corner
    z-n1 right-2 bottom-8 md:bottom-6 lg:bottom-8;
  }
}

@layer utilities {
  .border-t-transprarent {
    border-top-color: transparent;
  }

  .border-b-transprarent {
    border-bottom-color: transparent;
  }

  .border-l-transprarent {
    border-left-color: transparent;
  }

  .border-r-transprarent {
    border-right-color: transparent;
  }

  .transform-rorate-4 {
    transform: rotate(4deg);
  }

  .transform-rorate-n4 {
    transform: rotate(-4deg);
  }

  .transform-rorate-5 {
    transform: rotate(5deg);
  }

  .transform-rorate-n5 {
    transform: rotate(-5deg);
  }

  .transform-rorate-6 {
    transform: rotate(7deg);
  }

  .transform-rorate-n6 {
    transform: rotate(-7deg);
  }

  .z-n1 {
    z-index: -1;
  }

  .shadow-corner {
    box-shadow: 0 35px 10px #808080;
  }

  .text-indent-n {
    text-indent: -999em;
  }
}
